# Dependencias
node_modules/
frontend/node_modules/
backend/node_modules/

# Variables de entorno
.env
backend/.env
frontend/.env

# Compilación
dist/
backend/dist/
frontend/dist/

# Tu archivo pesado
frontend/src/constants/BEDCA.json